extends ./layout

block content
  form(method='GET', action='/events').form-inline
    .form-group
       input(type="text", name="q", id="q", value=query).form-control
       button(type="submit").btn.btn-default OK

  hr

  h3= sinceStr + " to " + toStr

  table.table
      tr: td Total consumed
        td #{totalConsumed} g
      tr: td Total refilled
        td #{totalFilled} g
      tr: td Balance
        td #{totalFilled - totalConsumed} g

  .list-group
      each row in rows
        .list-group-item(class=row.delta>0 ? "list-group-item-info" : undefined)
            - let what = row.delta < 0 ? 'consumed' : 'refilled';
            - let quantity = Math.abs(row.delta);
            h4.list-group-item-heading #{what} #{quantity} g
            p.list-group-item-text= row.timestampStr
            p.list-group-item-text #{row.weight} g | #{row.temperature}° C
