doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1")

        link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/manifest.json")

        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")

        title Smart Pet Food Tracker
        link(rel="stylesheet",
             href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",
             integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u",
             crossorigin="anonymous")
        block header
    body

        nav.navbar.navbar-default.navbar-inverse(role="navigation")
          .container-fluid
            .navbar-header
              button.navbar-toggle(data-toggle="collapse", data-target="#navigationbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href="/") #{ctx.pet_name} | #{ctx.weightNow} g | #{ctx.temperature}° C
            #navigationbar.collapse.navbar-collapse
              ul.nav.navbar-nav
                li(class=ctx.page==="/events" && "active"): a(href="/events")  Events
                li(class=ctx.page==="/trends" && "active"): a(href="/trends") Trends
                li(class=ctx.page==="/punchcard" && "active"): a(href="/punchcard") Punch Card

              ul.nav.navbar-nav.navbar-right
                if ctx.user
                  li(class=ctx.page==="/preferences" && "active"): a(href="/preferences") Preferences
                  li: a(href="/logout", display="inline") logout #{ctx.user.username}
                else
                  li(class=ctx.page==="/login" && "active"): a(href="/login") login
                  li(class=ctx.page==="/signup" && "active"): a(href="/signup") signup

        .container
          each msg in ctx.messages("success")
            .alert.alert-success(role="alert")= msg
          each msg in ctx.messages("error")
            .alert.alert-danger(role="alert")= msg

          block content

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js",
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa",
                crossorigin="anonymous")
